.content {
  max-width: 640px;
  margin: auto;
}

.aligncenter {
  margin-left: 170px;
  margin-right: 170px;
  text-align: center;
}

body {
  /* background-color: rgb(100, 0, 100); */
}

iframe {
  border: none;
}
