html, body{
    height: 100%;
}
#map {
   height: 100%;
   width: 100%;
   overflow: hidden;
   float: left;
   z-index: 1;
   position: fixed;
}
#info {
   height: 100%;
   width: 200;
   overflow: hidden;
   float: left;
   z-index: 2;
   position: fixed;
   background-color: #ECECFB;
   border-left: none;
}